body{
    margin:0;
    background:#111;
    color:#fff;
    font-family:Arial,sans-serif;
}

.container{
    padding:20px;
    text-align:center;
    padding-bottom:80px;
}

.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:90px;
    background:#1b1b1b;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:2px solid #333;
}

.bottom-nav button{
    flex:1;
    height:100%;
    font-size:14px;
    font-weight:bold;
    .coin-box{
    width:220px;
    height:220px;
    margin:20px auto;
    border-radius:50%;
    background:gold;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 25px gold;
}

.coin-icon{
    font-size:80px;
}

.coin-reward{
    margin-top:10px;
    font-size:22px;
    font-weight:bold;
    color:#000;
}

#profilePage,
#rewardPage,
#referralPage,
#taskPage{
    padding:20px;
    text-align:center;
}

#profilePage button,
#rewardPage button,
#referralPage button,
#taskPage button{
    width:90%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#00aaff;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    }
    color:white;
    border:none;
    background:transparent;
}

.bottom-nav button:hover{
    color:#00d4ff;
}
.top-card{
    background:#1b1b1b;
    margin:15px;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.balance{
    font-size:32px;
    font-weight:bold;
    color:#00d4ff;
}

.mine-btn{
    width:90%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#00aaff;
    color:white;
    font-size:20px;
    cursor:pointer;
}

.mine-btn:disabled{
    background:#555;
}
